# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment files
.env
.env.*
!.env.example

# Editor and OS files
.DS_Store
.idea/
.vscode/

# Vite cache
.vite/

#firebase
.firebase/
.firebase/hosting.LmZpcmViYXNlL2xvY2FsLWNvZGVzL2hvc3Rpbmc.cache
.firebase/local-codes/hosting/assets/index-CrxLFcpU.js
.firebase/local-codes/hosting/assets/index-IFwQ0Wdv.css
.firebase/local-codes/hosting/favicon.svg
.firebase/local-codes/hosting/index.html
.firebase/local-codes/hosting/index.html.map
.firebase/local-codes/hosting/index.html.map.gz
.firebase/local-codes/hosting/index.html.map.gz.br
.firebase/local-codes/hosting/index.html.map.gz.br.br
.firebase/local-codes/hosting/index.html.map.gz.br.br.br